@import '../../../../node_modules/primeicons/primeicons.css';

/**
 * Custom CSS
 * -------------------------------------------------------------------------- */

:root {
    --vp-c-brand-1: #00b8d4;
    --vp-home-hero-image-background-image: none;
}

video:not(:only-child), img:not(:only-child) {
    border-radius: 8px;
}

.vp-doc a {
    text-decoration: none;
}

.vp-doc a:hover {
    text-decoration: underline;
}

/* --- Home button --- */

div.group:first-of-type section {
    padding-bottom: 10px !important;
}

div.group:first-of-type a {
    font-weight: bold;
    border: 1px solid var(--vp-c-text-2);
    border-radius: 50px;
    text-align: center;
    transition: all 0.25s;
}

div.group:first-of-type a:hover {
    border: 1px solid var(--vp-c-brand-1);
}

div.group:first-of-type .has-active a {
    background-color: var(--vp-c-brand-1);
    border: 1px solid var(--vp-c-brand-1);
}

div.group:first-of-type a p {
    font-weight: bold !important;
}

div.group:first-of-type .has-active a p {
    color: white !important;
}